@import url('https://fonts.googleapis.com/css?family=Itim');

body {
  font-family: 'Itim', cursive;
  background-color: #f29e03;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='15' height='15' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
  background-size: auto auto;
  background-position: center;
  font-size: 24px;
}
.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  margin: 30px 0 0 0;
  width: 300px;
  height: 30%;
}

@keyframes bounce { 
  0%   {transform: translateY(0px);}
  20%  {transform: translateY(0px);}
  40%  {transform: translateY(-10px);}
  50%  {transform: translateY(0px);}
  60%  {transform: translateY(-5px);}
  80%  {transform: translateY(0px);}
  100%  {transform: translateY(0px);}
  
} 

.logo img:hover{
  animation-name: bounce;
  animation-duration: 1.5s;
}
.logo img:active{
  animation-name: bounce;
  animation-duration: 1.5s;
}

.secondqoute {
  display: flex;
  justify-content: center;
  color:#fff;
  padding-left: 100px
}


.uploadpic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
   
}

.outside-box-before{
  border: 3px dashed #2a3d45;
  border-radius: 22px 22px 22px 22px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
  padding: 2px;
  margin-top:30px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  background: #e5d666;
  background-image: url("./pic/upload.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  
}


.outside-box-after{
  border: 3px dashed #2a3d45;
  border-radius: 22px 22px 22px 22px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
  padding: 2px;
  margin-top:30px;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.imgPreview{
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn {
  display: block;
  width: 100px;
  height: 50px;
}

.fileInput{
  
  margin: 40px 0 0 0;
  cursor: pointer;
  position: absolute;
  text-overflow:ellipsis;
  width: 200px;
  height: 200px;
  background: #E6D764;
  border-radius: 15px;
  color:#fff;
  z-index: 2;
  opacity: 0;
}

.disablebtn{
  font-family: 'Itim', cursive;
  padding: 12px;
  margin-top: 20px;
  background: white;
  border: 4px dashed lightgray;
  border-radius: 15px;
  font-size: 30pt;
  width: 100%;
  cursor: not-allowed;
  transition: all 0.5s;
  color: #334F55;
}

.submitButton{
  font-family: 'Itim', cursive;
  padding: 12px;
  margin-top: 20px;
  background: #e5d666;
  border: 4px solid#324e54;
  box-shadow: 0px 0px 0px 0px rgba(50,78,84,1);
  border-radius: 15px;
  font-size: 24pt;
  cursor: pointer;
  transition: all 0.5s;
  color: #334F55;
}

.submitButton:hover{
  background: #e5d666;
  border: 4px solid#324e54;
  box-shadow: 0px 10px 0px 0px rgba(50,78,84,1);
  color: #334F55;

}

.submitButton:active {
  background-color: #c0b34f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.cancelButton{
  font-family: 'Itim', cursive;
  padding: 12px;
  margin: 20px 0 0 10px;
  background: #e5d666;
  border: 4px solid#324e54;
  box-shadow: 0px 0px 0px 0px rgba(50,78,84,1);
  border-radius: 15px;
  font-size: 24pt;
  cursor: pointer;
  transition: all 0.5s;
  color: #e76f0d;
}

.cancelButton:hover{
  background: #e5d666;
  border: 4px solid#324e54;
  box-shadow: 0px 10px 0px 0px rgba(50,78,84,1);


}

.cancelButton:active {
  background-color: #c0b34f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.container-table{
  display: flex;
  justify-content: center;
}

.dog-table{
  width: 400px;
  background: #334F55;
  margin: 30px;
  border-radius: 10px 10px 0 0;
  color:#fff;
  transition: all 1s;
}

.dog-table .no {
  width: 20%;
}

.dog-table td{
  
  margin: 20px;
  text-align: center;
  height: auto;
  padding: 10px;
  color: #334F55;
  
}


.dog-table>thead{
  height: 40px;
  color:#fff;
  background: #334F55;
}

.dog-table tbody{
  height: 40px;
  background: #e6d764;
  transition: all 0.5s ease-in-out;
}

.dog-table tbody:hover{
  height: 40px;
  background: #a09333;
}

@media screen and (max-width: 414px) {
  body{
  font-size: 16px;
  transition: all 0.5s;
  }
  .submitButton{
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.5s;
  }

  .logo img {
    margin: 30px 0 0 0;
    width: 250px;
    height: 30%;
    transition: all 0.5s;
  }

  .disablebtn{
    font-size: 20pt;
  }

  .dog-table{
    width: 300px;
    background: #334F55;
    margin: 20px;
    border-radius: 10px 10px 0 0;
    color:#fff;
  }
}

@media screen and (max-width: 340px) {
  body{
  font-size: 16px;
  transition: all 0.5s;
  }
  .submitButton{
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.5s;
  }

  .logo img {
    margin: 30px 0 0 0;
    width: 250px;
    height: 30%;
    transition: all 0.5s;
  }

  .disablebtn{
    font-size: 20pt;
  }

  .dog-table{
    width: 250px;
    background: #334F55;
    margin: 20px;
    border-radius: 10px 10px 0 0;
    color:#fff;
  }
}





